@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --map-stroke-color:         rgba(8, 81, 156, 0.2);
    --map-fill-selected-color:  rgba(8, 81, 156, 0.3);
    --map-fill-color:           rgba(8, 81, 156, 0.2);
    --total-color:              steelblue;
    --device-web-color:         rgb(255, 153, 51);
    --device-mobile-color:      rgb(255, 255, 51);
    --user-registered-color:    rgb(153, 255, 51);
    --user-new-color:           rgb(51, 255, 255);
    --travel-t1-color:          rgb(51, 153, 255);
    --travel-t2-color:          rgb(204, 51, 255);
    --travel-t3-color:          rgb(255, 51, 153);
    --refresh-color:            #2ecc71;
    --error-color:              rgb(255, 0, 0);
    --new-city-color:           #2ecc71;
    --portal-color-1:           #e41a1c;
    --portal-color-2:           #ff7f00;
    --portal-color-3:           #1c9099;
    --portal-color-4:           #984ea3;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#tc_left {
    width: 24%;
    height: 98%;
    float: left;
    margin: 0.5%;
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: auto;
}

#tc_left_icon {
    position: relative;
    top: 8px;
    width: 40px;
    height: 40px;
}

#tc_right {
    width: 74%;
    height: 98%;
    float: left;
    margin: 0.5%;
    padding: 15px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#tc_map {
    width: 100%;
    height: 75%;
    margin: 5px;
}

#tc_charts {
    width: 100%;
    height: 25%;
    margin: 5px;
}

#tc_charts_total,
#tc_charts_devices,
#tc_charts_users,
#tc_charts_travel_types
{
    width: 25%;
    height: 100%;
    float: left;
}

.left-form label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.left-form small {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.left-form input[type='range'] {
    -webkit-appearance: none;
    width: 90%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.left-form input[type='range']:hover {
    opacity: 1;
}

.left-form input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.left-form input[type='range']::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.left-form input.requests-total::-webkit-slider-thumb {
    background: var(--total-color);
}

.left-form input.requests-total::-moz-range-thumb {
    background: var(--total-color);
}

.left-form input.device-mobile::-webkit-slider-thumb {
    background: var(--device-mobile-color);
}

.left-form input.device-mobile::-moz-range-thumb {
    background: var(--device-mobile-color);
}

.left-form input.device-web::-moz-range-thumb {
    background: var(--device-web-color);
}

.left-form input.device-web::-webkit-slider-thumb {
    background: var(--device-web-color);
}

.left-form input.user-new::-moz-range-thumb {
    background: var(--user-new-color);
}

.left-form input.user-new::-webkit-slider-thumb {
    background: var(--user-new-color);
}

.left-form input.user-registered::-moz-range-thumb {
    background: var(--user-registered-color);
}

.left-form input.user-registered::-webkit-slider-thumb {
    background: var(--user-registered-color);
}

.left-form input.travel-t1::-moz-range-thumb {
    background: var(--travel-t1-color);
}

.left-form input.travel-t1::-webkit-slider-thumb {
    background: var(--travel-t1-color);
}

.left-form input.travel-t2::-moz-range-thumb {
    background: var(--travel-t2-color);
}

.left-form input.travel-t2::-webkit-slider-thumb {
    background: var(--travel-t2-color);
}

.left-form input.travel-t3::-moz-range-thumb {
    background: var(--travel-t3-color);
}

.left-form input.travel-t3::-webkit-slider-thumb {
    background: var(--travel-t3-color);
}

.left-form-group {
    float: left;
    width: 25%;
}

.left-form input.refresh-control {
    width: 100%;
}

.left-form input.refresh-control::-moz-range-thumb {
    background: var(--refresh-color);
}

.left-form input.refresh-control::-webkit-slider-thumb {
    background: var(--refresh-color);
}

.error {
    color: var(--error-color);
}


