# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

docker/travel_agency/cars/cars
docker/travel_agency/discounts/discounts
docker/travel_agency/flights/flights
docker/travel_agency/hotels/hotels
docker/travel_agency/insurances/insurances
docker/travel_agency/travels/travels
docker/travel_control/travel_control
docker/travel_control/html
docker/travel_portal/travel_portal